.landing-page-container {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    justify-content: space-around;
}

.our-goal {
    width: 30%;
}

.daily-featured {
    width: 50%;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

div {
    color: var(--p-neutral-950);
}