.layout-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--header-toolbar-height);
    z-index: 1100;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(.5px);
}

.layout-toolbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 4rem;
}

.layout-toolbar-content .layout-toolbar-logo-container {
    width: auto;
}

.layout-toolbar-content .layout-toolbar-logo {
    display: inline-flex;
}

.feature-buttons-container {
    display: inherit;
    align-items: center;
    height: 100%;
}

.feature-buttons-container .header-button {
    margin: 0 1rem;
}