<div [@scroll]="scrollState | async" class="layout-toolbar">
    <div class="layout-toolbar-content">
        <div class="layout-toolbar-logo-container">
            <a class="layout-toolbar-logo">
                <img src="assets/img/shield-large.svg" height="35" width="40" title="Home" alt="Home" routerLink="">
            </a>
        </div>
        <div class="feature-buttons-container">
            <button pButton type="button" class="p-button-primary" label="The Goal" routerLink="/aboutus"></button>
            <p-button routerLink="/notfound" label="Let's Go!"></p-button>
        </div>
        <div class="test"></div>
    </div>
</div>