.layout-footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: var(--footer-toolbar-height);
    background-color: #F9F8F8;
    border-top: 1px solid transparent;
}

div {
    color: black;
}