<div [@scroll]="scrollState | async" class="layout-toolbar">
    <div class="layout-toolbar-content">
        <div class="layout-toolbar-logo-container">
            <a class="layout-toolbar-logo">
                <img src="assets/img/bannerHH.png" height="64" width="200" title="Home" alt="Home" routerLink="">
            </a>
        </div>
        <div class="feature-buttons-container">
            <button pButton routerLink="/allhospitals" class="header-button" label="All Hospitals" [raised]="true"></button>
        </div>
    </div>
</div>